{% extends 'core/header.html' %}
{% load static %}

{% block content %}

            <div class="primary col-lg-8 col-12">

               <section class="latest section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">{{ posts.title }}</h2>
                        <div class="content">

                            <div class="item featured text-center">

                                <div class="featured-image has-ribbon">
                                    <img class="img-fluid project-image rounded shadow-sm" src="{{ posts.image.url }}" alt="project name" />
                                </div>


                                <div class="desc text-start">
                                    <p>{{ posts.content }}</p>
                                </div><!--//desc-->

                            </div><!--//item-->
                            <hr class="divider" />
                            {% for project in projects %}
                                <div class="item row">
                                    {% if project.image %}
                                    <a class="col-md-4 col-12" href="/projects/post_title/{{ project.title }}">
                                        <img class="img-fluid project-image rounded shadow-sm" src="{{ project.image.url }}" alt="project name" />
                                    </a>
                                    {% endif %}
                                    <div class="desc col-md-8 col-12">
                                        <h3 class="title"><a href="/projects/post_title/{{ project.title }}">{{ project.title }}</a></h3>
                                        <p class="mb-2">{{ project.content|truncatechars:255  }}</p>
                                        <p><a class="more-link" href="/projects/post_title/{{ project.title }}"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                                    </div><!--//desc-->
                                </div><!--//item-->
                            {% endfor %}



                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

    </div><!--//masonry-->


{% endblock %}
